

body {
	font-family: Trebuchet MS;
	font-size: 20px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.nav_container {
	width: 100%;
}

.nav_container ul {
	list-style: none;
}

.nav_container ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	height: 4rem;
	font-weight: 700;
	color: rgb(247, 247, 247);
	font-size: 1.1rem;
	letter-spacing: 3px;
	height: 90%;
}

.main_menu {
	display: flex;
}

.main_menu li {
	position: relative;
	width: 100%;
}

.main_menu li a {
	background-color: rgb(19, 28, 102);
	transition: background-color 200ms ease-in-out;
}

.sub_menu li a {
	background-color: #4ECDC4;
	text-align: center;
}

.main_menu li a:hover {
	background-color: #4ECDC4;
	color: rgb(255, 255, 255);
}

.sub_menu li a:hover {
	background-color: orange;
	color: white;
}

.main_menu .show_sub:hover .sub_menu {
	visibility: visible;
	opacity: 1;
}

.sub_menu {
	transition: opacity 500ms ease-in-out;
	visibility: hidden;
	opacity: 0;
}

.main_menu>li:first-child a {
	border-radius: 1rem 0 0 1rem;
}

.main_menu>li:last-child a {
	border-radius: 0 1rem 1rem 0;
}

.main_menu>li>a {
	position: relative;
}

.main_menu>li>a::before {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	background-color: rgb(255, 85, 85);
	bottom: 3%;
	z-index: 1;
	border-radius: 1rem;
	transition: width 200ms ease-in-out;
}

.main_menu>li>a:hover:before {
	width: 90%;
}

.sub_menu>li:last-child>a {
	border-radius: 0 0 1rem 1rem;
}

.full-height {
	min-height: 74vh;
}
